<div *ngIf="movie" class="moviebody">
    
    <div class="container">
        <div class="row">
            <div class="col">
                <div>
                    <h2>{{movie.title}}</h2>
                    <span class="text-top">
                        <img src={{movie.poster}} class="movieposter">
                        {{movie.rating}}
                        {{movie.plot}}
                    </span>
                    <app-newreview *ngIf="user" [movie]="movie" class="right"></app-newreview>
                </div>
                <p class="comment-content">
                    <app-commentarea [movie]="movie"></app-commentarea>
                </p>
            </div>
            <div class="col-4 review-section">
                <app-reviewarea [movieId]="movie.id" [score]="movie.score"></app-reviewarea>
                
                <button type="button" class="btn btn-primary" (click)="Watched()">Add to Watched</button>
                <button type="button" class="btn btn-primary" (click)="Backlog()">Add to Backlog</button>
            </div>
        </div>
    </div>
</div>
