.moviepostercontainer {
    display: inline-block;
    padding: 6px;
    margin: 6px;
    text-align: center;
    font-weight: bold;
    width: 200px;
    vertical-align: top;
}

.movieposter {
    height: 300px;
    width: 200px;
    border: 1px solid black;
}