<div class="register-page">
  <div class="row justify-content-md-center">
      <div class="col-md-4">
          <h1>Register Account</h1>
          <form role="form" (ngSubmit)="Register()">
              <div class="form-content">
                  <div class="form-group">
                      <input [(ngModel)]="User.username" name="username"
                      type="text" 
                      class="form-control input-underline input-lg" 
                      id="username" 
                      placeholder="Username">
                  </div>
                  <div class="form-group">
                      <input [(ngModel)]="User.firstname" name="firstname"
                      type="text" 
                      class="form-control input-underline input-lg" 
                      id="firstname" 
                      placeholder="First Name">
                  </div>
                  <div class="form-group">
                    <input [(ngModel)]="User.lastname" name="lastname"
                    type="text" 
                    class="form-control input-underline input-lg" 
                    id="lastname" 
                    placeholder="Last Name">
                  </div>
                  <div class="form-group">
                      <input [(ngModel)]="User.email" name="email"
                      type="text" 
                      class="form-control input-underline input-lg" 
                      id="email" 
                      placeholder="Email">
                  </div>

                  <div class="form-group">
                      <input class="form-control"  [(ngModel)]="User.password" name="password"
                      type="password" 
                      class="form-control input-underline input-lg" 
                      id="password" 
                      placeholder="Password">
                  </div>
                  <div class="form-group">
                      <input type="password" name="confirmpassword"
                      class="form-control input-underline input-lg" 
                      id="confirmPassword" 
                      placeholder="Repeat Password">
                  </div>
              </div>
              <button class="btn btn-primary block">Register</button>
          </form>
      </div>
  </div>
</div>